In [1]:
#1.	Filtering rows based on conditions (e.g., age > 30).
import pandas as pd
df = pd.read_csv("Titanic-Dataset.csv")

# Filter rows where Age > 30 and sex is female
age = df[(df["Age"] > 30) & (df["Sex"] == "female")]

# Display results
print("Passengers with Age > 30:")
print(age.head())

print("\nNumber of passengers with Age > 30:")
print(age.shape[0])

Passengers with Age > 30:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
11           12         1       1
15           16         1       2
18           19         0       3

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
11      0    113783  26.5500  C103        S
15      0    248706  16.0000   NaN        S
18      0    345763  18.0000   NaN        S

Number of passengers with Age > 30:
103

In [2]:
#Selecting columns & using .loc / .iloc.
import pandas as pd
df = pd.read_csv("Titanic-Dataset.csv")

# Select columns
print("Age column:")
print(df["Age"].head())

print("\nAge and Fare columns:")
print(df[["Age", "Fare"]].head())

# Using .loc
print("\nUsing .loc (rows 0 to 4, Age & Fare):")
print(df.loc[0:4, ["Age", "Fare"]])

# Using .iloc
print("\nUsing .iloc (first 5 rows, first 2 columns):")
print(df.iloc[:5, :2])

Age column:
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

Age and Fare columns:
    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

Using .loc (rows 0 to 4, Age & Fare):
    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

Using .iloc (first 5 rows, first 2 columns):
   PassengerId  Survived
0            1         0
1            2         1
2            3         1
3            4         1
4            5         0

In [4]:
#Grouping & Aggregations
# Mean, count, sum, min/max of relevant columns.

import pandas as pd
df = pd.read_csv("Titanic-Dataset.csv")

# Group by Passenger Class and calculate aggregations
data = df.groupby("Pclass")["Fare"].agg(
    mean_fare="mean",
    total_fare="sum",
    min_fare="min",
    max_fare="max",
    count_passengers="count"
)

# Display result
print(data)

        mean_fare  total_fare  min_fare  max_fare  count_passengers
Pclass
1       84.154687  18177.4125       0.0  512.3292               216
2       20.662183   3801.8417       0.0   73.5000               184
3       13.675550   6714.6951       0.0   69.5500               491

In [5]:
#4.	Merging/Joining 
# (if dataset has multiple CSVs, or create a small second dataset and merge them).
import pandas as pd
df1 = pd.read_csv("Titanic-Dataset.csv")

# Create a small second dataset
df2 = pd.DataFrame({
    "Pclass": [1, 2, 3],
    "Class_Name": ["First Class", "Second Class", "Third Class"]
})

# Merge datasets on Pclass
merged_df = pd.merge(df1, df2, on="Pclass", how="left")

# Display result
print(merged_df[["Name", "Pclass", "Class_Name"]].head())

                                                Name  Pclass   Class_Name
0                            Braund, Mr. Owen Harris       3  Third Class
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       1  First Class
2                             Heikkinen, Miss. Laina       3  Third Class
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1  First Class
4                           Allen, Mr. William Henry       3  Third Class